extends ../node_modules/jade-bootstrap/_bootstrap.jade
link(rel="stylesheet",href="/public/stylesheets/style.css")



block body
  mixin a-btn-danger(id)
    - var type = 'danger'
    button(onclick='deleteHit("#{id}")' class='btn-#{type}',type='button').btn
      block

  mixin table(hits,type)
    - var type = type || ""
    table(id='hitsTable' class='#{type}').table
      tbody
        each hit, i in hits
          tr
            td
              - var url = hit.story_url || hit.url
              - var title = hit.story_title || hit.title
              a(href=url) #{title}. - #{hit.author} -
            td
              - var date = hit.created_at
              p #{ moment(date).calendar() }
            td
              -var id = hit._id
              +a-btn-danger(id)
                +icon('trash')
  mixin icon(name)
    span.glyphicon(class="glyphicon-#{name}",aria-hidden="true")

  .jumbotron
    .container
      h1 HN Feed
        p   
        p We <3 haker news!

  .col-md-10.col-md-offset-1
    +table(hits)              

    script.
      var deleteHit = function(id) {
        console.log('something')
        console.log('id', id)
        var apiUrl = 'http://localhost:3000/hits/'+id
        $.ajax({
            url: apiUrl,
            type: 'DELETE',
            cache: false,
            statusCode: {
                200: function (data) {
                  
                }, // Successful DELETE
                404: function (data) {
                    alert(apiUrl + " ... Not Found");
                }, // 404 Not Found
                400: function (data) {
                    alert("Bad Request O");
                } // 400 Bad Request
            } // statusCode
        }); // ajax call
        $('#hitsTable').on('click', ":button", function(){
          $(this).closest ('tr').remove ();
        });
      }
      
      //- (function($) {
      //-   $('tr').click( function() {
      //-     window.location = $(this).find('a').attr('href');
      //-   }).hover( function() {
      //-     $(this).toggleClass('hover');
      //-   });
      //- })(jQuery);
      

    style.
      tr:hover {
        background-color: #fafafa;
      }
